[submodule "apphelper"]
	path = apphelper
	url = git@github.com:xjxlx/apphelper.git

[submodule "http"]
	path = http
	url = git@github.com:xjxlx/http.git

[submodule "refresh"]
	path = refresh
	url = git@github.com:xjxlx/refresh.git

[submodule "common"]
	path = common
	url = git@github.com:xjxlx/common.git
