<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xjx.kotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" /> <!-- REORDER_TASKS -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <queries>

        <!-- 如果想要与其他的应用进行AIDL通信的话，需要在这里注册包名的信息 -->
        <package android:name="com.android.app.free.debug" />
        <package android:name="com.android.poc" />
    </queries>

    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlin">
        <activity
            android:name=".ui.activity.feature.ZmqSocketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.feature.ZmqReceiveActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.feature.ZmqSenderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.test.flow.FlowControlActivity"
            android:exported="false"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name=".ui.activity.test.flow.FlowMapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.feature.RecordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.feature.FeatureMapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.audio.RecordingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.thread.ConcurrenceThread2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.thread.TestConcurrenceThreadActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.thread.ThreadMapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.custom.RecycleViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.custom.CustomViewMapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.custom.DescriptionViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.test.flow.FlowCallActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.activity.test.xc.Xc5Activity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.test.flow.FlowActivity"
            android:exported="true" />
        <activity android:name=".ui.activity.test.block.BlockActivity" />
        <activity
            android:name=".network.NetWorkActivity"
            android:exported="true" />
        <activity android:name=".ui.activity.test.xc.XC4Activity" />
        <activity android:name=".ui.activity.test.xc.XC3Activity" />
        <activity android:name=".ui.activity.test.xc.XC2Activity" />
        <activity android:name=".ui.activity.test.FsActivity" />
        <activity android:name=".ui.activity.test.FxActivity" />
        <activity android:name=".ui.activity.test.ControlActivity" />
        <activity
            android:name=".ui.activity.test.AidlActivity"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".ui.activity.test.SocketReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xjx.test" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.activity.test.xc.XCActivity" />
        <activity android:name=".ui.activity.test.ConvertDataActivity" />
        <activity android:name=".ui.activity.test.ViewPager2Activity" />
        <activity android:name=".ui.activity.test.ClasssActivity" />
        <activity android:name=".ui.activity.test.FunActivity" />
        <activity android:name=".ui.activity.test.ListActivity" />
        <activity android:name=".ui.activity.test.TestArrayActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>